<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-item [routerLink]="['/tabs/welcome']">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            <ion-label>
              News
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/tabs/collection']">
            <ion-icon slot="start" name="folder-open-outline"></ion-icon>
            <ion-label>
              Collection
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/tabs/account']">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>
              My Account
            </ion-label>
          </ion-item>
          <ion-item routerLink="" (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>
              Log-Out
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

