<ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form ion-justify-content-center">
<!--  <ion-grid class="ion-justify-content-center">-->
<!--    <ion-row>-->
<!--      <ion-col class="ion-justify-content-center">-->
  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
    <ion-col size-xl="2" size-sm="12">
      <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
      <ion-tab-bar>
      <span class="already">Or</span>
      </ion-tab-bar>
      <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
    </ion-col>
  </ion-row>
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
</ion-content>
