<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ionic Forms</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size-xl="3" size-sm="12">
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Type</ion-label>
          <ion-input formControlName="type" type="text"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block">Create</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
