<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ionic Forms</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size-xl="3" size-sm="12">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>
    <ion-button color="tertiary" id="upload_widget" class="cloudinary-button" (click)="cloudinaryGo()" >Upload picture</ion-button>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Update</ion-button>
      </ion-col>
    </ion-row>
  </form>
    </ion-col>
  </ion-row>
</ion-content>
